{% extends 'base.html' %}


{% block title %}{{ title }}{% endblock title %}

{% block body %}
    <section>
        <table>
            <tr>
                <th>Divice name</th>
                <th>IP</th>
                <th>Port</th>
                <th>Status</th>
                <th>Last Discovery</th>
                <th>Last Online</th>
            </tr>
            {% for device in devices %}
                <tr>
                    {% if not device.monitoring %}
                        <td class="text" style="color: gray;">{{ device.name }}</td>
                        <td class="text" style="color: gray;">{{ device.ip }}</td>
                        <td class="text" style="color: gray;">{{ device.port }}</td>
                        <td align="center"><div class="circle" style="background-color: gray"> </div></td>
                        <td class="text" style="color: gray;">{{ device.last_discovery }}</td>
                        <td class="text" style="color: gray;">{{ device.last_online }}</td>  
                    {% else %}
                        <td class="text">{{ device.name }}</td>
                        <td class="text">{{ device.ip }}</td>
                        <td class="text">{{ device.port }}</td>
                        <td align="center"><div class="circle" style="background-color: {{ device.status }};"> </div></td>
                        <td class="text">{{ device.last_discovery }}</td>
                        <td class="text">{{ device.last_online }}</td>                          
                    {% endif %}                     

                </tr>
            {% endfor %}
        </table>
    </section>
{% endblock body %}